@import "../Vars.scss";

.login {
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.register_to_login {
  margin: 0;
}

.required_message {
  color: $validationError;
}

.login-form {
  width: 300px;
}
