@import "../Vars.scss";

.profile_section {
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.profile_section .card {
  width: auto;
}

.attribution {
  left: 0;
  bottom: 0;
  padding: 0px 10px 10px 10px;
  color: gray;
  z-index: 10;
  font-size: 12px;
}

@media screen and (max-width: 575px) {
  .profile_section {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .profile_section .card {
    width: 90vw;
  }
}
