@import "../Vars.scss";

.register {
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.register_to_login {
  margin: 0;
}

.required_message {
  color: $validationError;
}

@media screen and (max-width: 767px) {
  .register_to_login {
    margin-top: 30px;
  }

  .register_submit_btn {
    width: 70%;
  }
}
