@import "./Vars.scss";

// html,
// body,
// #app,
// .App {
//   height: 100%;
// }

.App {
  min-height: 100vh;
  position: relative;
  padding-bottom: $footer-height;
}

body {
  margin: 0;
  font-family: $theme-font;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.content-center {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}
